<div class="conatiner">
  <form #emailForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="" class="label">Enter Email</label>
      <input [ngClass]="{'is-danger':emailControl.invalid && emailControl.touched}" class="input" type="email"
        pattern=".+@.+\..+" required name="email" [(ngModel)]="email" #emailControl="ngModel" />
      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div class="help is-danger" *ngIf="emailControl.errors?.['required']">
          This field is required
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors?.['pattern']">
          You must enter an email
        </div>
      </ng-container>
    </div>
    <div>
      <button class="button" [disabled]="emailForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>
<hr />
<div>Is form valid: {{ emailForm.valid }}</div>
<div>Form values: {{ emailForm.value | json }}</div>
<div>Email validation errors: {{ emailForm.controls['email']?.errors | json }}</div>